APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:CVfUqyO9ujFIo7+Bzf5uupR+bAPxwWttwrhOQh0algo=
APP_DEBUG=false
APP_LOG_CHANNEL=daily
APP_LOG_LEVEL=debug
APP_TIMEZONE=Asia/Shanghai
APP_URL=http://api_site.test.work

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=test_doc
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=123456
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1


###SMS config
ALIYUN_ACCESS_ID=LTAI4Fx5AsQUkb2F7cahHUfY
ALIYUN_ACCESS_KEY=3EpBFrDs7P1E4hiJD4bMVRP4Advrc9
ALIYUN_SIGN_NAME=天益常乐
ALIYUN_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
